.header {
    display: flex;
    align-items: center;
    padding: 12px;
    justify-content: flex-end;
    list-style: none;
}

.header a{
    border: none;
    font-size: 14px;
    font-family: arial,sans-serif;
    margin: 0px 7.5px;
    color: rgba(0,0,0,.87);
    text-decoration: none;
}
    
.header a:active,.header a:hover {
    text-decoration: underline;
}

img {
    display: block;
    height: 92px;
    width: 272px;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 20px;
}

.centered {
    display: block;
    width: fit-content;
    margin: auto;
}

input[name=q] {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 10px 15px 12px 10px;
    width: 638px;
    }

input[name=q]:hover,input[name=q]:focus {
box-shadow: 0 1px 6px rgba(32, 33, 36,.28);
border: 1px solid #dfe1e5;
border-radius: 24px;
outline: none;
}


.submitButton {
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 30px;
    width: 54px;
    gap: 20px;
}

input[type=submit]{
    padding: 3px 16px;
}

.headerLogo {
    height: 24px;
    max-width: 74px;
    width: 74px;
    margin: 20px 20px;
}

.AdvSearchHeading {
    color: #d93025;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 40px;
    font-family: arial,sans-serif;
}

.formStructure{
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}

span{
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}

.advSearchSpacing{
    padding-left: 25px;
    min-width: 150px;
    width: 12%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
}

.advSearchFlex{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

input[name=as]{
    height: 25px;
    width: 100%;
    margin-bottom: 10px;
}